body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: pink;
    user-select: none; 
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: linear-gradient(
        500deg,
        rgba(255,255,255,1) 0%,
        rgba(190,255,27,1) 30%,
        rgba(36,93,137,1) 100%);
    padding: 40px, 60px;
}

h2{
    font-size: 3em;
    color: palevioletred;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.reiniciar {
    padding: 15px 20px;
    width: 100%;
    color: #000000;
    background-color: antiquewhite;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}

.reiniciar:focus {
    color: blueviolet;
    background-color: #262809;
}

.jogo {
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item{
    position: relative;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    font-size: 3em;
    transform: rotateY(180deg);
    transition: 0.20;
}

.item::after {
    content: "";
    position: absolute;
    inset: 0;
    background: #303030;
    transition: 0.20;
    transform: rotateY(0deg);
    backface-visibility: hidden;

}

.item.boxOpen {
    transform: rotateY(0deg);
}

.boxOpen::after, .boxMatch::after {
    transform: rotateY(180deg);
}